.logo-gera {
    margin: 30px auto 10px;
    text-align: center;

    img {
        width: 450px;
    }
}

.banner-principal {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    // flex-wrap: wrap;
    flex-grow: 3;
    justify-content: space-around;
    align-items: center;
}

.banner-texto {
    width: 40%;
    z-index: 2;

    h1 {
        font-family: 'Roboto', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 300;
        font-size: 3rem;
        color: $blue;

        span {
            font-weight: 900;
        }
    }
}

.banner-ilustracao {
    margin-left: -50px;
    // width: 50%;
    align-self: flex-end;

    img {
        width: 600px;
    }
}

.banner-ornamento {
    display: none;
    align-self: center;
    background-position: bottom;

    img {
        width: 300px;
    }
}

@media (min-width: 1100px) {
    .logo-gera {
        margin: 30px auto 10px;
        text-align: center;
    
        img {
            width: 250px;
        }
    }
    .banner-principal {
        justify-content: center;
        margin: 50px;
        height: max-content;
    }
    .banner-texto {
        h1 {
            font-size: 1.7rem;
        }
    }
    .banner-ilustracao {
        margin-left: 50px;
        // width: 50%;  
        align-self: flex-end;
    
        img {
            width: 400px;
        }
    }
}