@import url('https://fonts.googleapis.com/css?family=Quicksand:700|Raleway&display=swap');

.popup-bg {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 998;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;

}
.popup {
    width: 90vw;
    height: 90vh;
    background-color: $blue;
    // z-index: 999;
}

.popup-grid {
    display: grid;
    height: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

.popup-faixa {
    grid-column: 1 / 5;
    grid-row: 4 / 5;
    align-self: end;
    background-color: $blue;
    width: 100%;
    height: 140px;
}

.popup-image {
    grid-column: 1 / 3;
    grid-row: 1 / 5;
    background-image: url(../img/pexels-photo-1851164.png);
    width: 100%;
    background-size: cover;
    background-position: right bottom;
    background-repeat: no-repeat;
}

.popup-conteudo {
    grid-column: 3 / 5;
    grid-row: 1 / 4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding: 0 10%;
    // align-items: center;
}

.popup-conteudo-chamada {
    font-family: 'Roboto', sans-serif;
    font-size: 3rem;
    color: $white;
    text-align: right;
    font-weight: 700;
    margin-bottom: 20px;
    span {
        color: $white;
        font-size: 5rem;
        display: block;
    }
}

.popup-conteudo-explicacao {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    color: $white;
    font-weight: 100;
    text-align: right;
    width: 50%;
}

.popup-conteudo-contador {
    margin: 20px 0;
}

#demo {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    color: $green;
    font-weight: bold;
}

.popup-conteudo-cat {
    margin-bottom: 10px;
    button {
        font-family: 'Roboto', sans-serif;
        font-size: 1.5rem;
        text-decoration: none;
        background-color: $green;
        border-radius: 48px;
        padding: 10px 20px;
        border: 0;
    }
    a {
        color: #265EB2;
        text-decoration: none;
    }
}

.popup-conteudo-fechar {
    button {
        border: 0;
        background-color: rgba(0, 0, 0, 0);
        font-family: 'Roboto', sans-serif;
        font-size: 1.1rem;    
    }
    a {
        font-size: .9rem;    
        color: $white;
        text-decoration: none;
    }
}

.mostrar {
    display: flex;
}

.fechar {
    display: none;
}

@media (max-width: 670px) {

    .popup {
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        align-items: center;
        background-color: $blue;
    }

    .popup-grid {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    .popup-faixa {
        display: none;
    }

    .popup-image {
        display: none;
    }


    .popup-conteudo-chamada {
        margin-top: 50px;
        font-family: 'Roboto', sans-serif;
        font-size: 3rem;
        color: $white;
        text-align: right;
        font-weight: 700;
        margin-bottom: 20px;
        span {
            color: $white;
            font-size: 5rem;
            display: block;
        }
    }

    .popup-conteudo-explicacao {
        font-family: 'Roboto', sans-serif;
        font-size: 1.5rem;
        color: $white;
        font-weight: 100;
        text-align: right;
        width: 70%;
    }

    .popup-conteudo-contador {
        margin: 20px 0;
    }

    #demo {
        font-family: 'Roboto', sans-serif;
        font-size: 1.5rem;
        color: $green;
        font-weight: bold;
    }

    .popup-conteudo-cat {
        margin-bottom: 10px;
        button {
            font-family: 'Roboto', sans-serif;
            font-size: 1.5rem;
            text-decoration: none;
            background-color: $green;
            border-radius: 48px;
            padding: 10px 20px;
            border: 0;
        }
        a {
            color: #265EB2;
            text-decoration: none;
        }
    }

    .popup-conteudo-fechar {
        button {
            text-align: center;
            border: 0;
            margin: 0px 0px 40px 0px;
            background-color: rgba(0, 0, 0, 0);
            font-family: 'Roboto', sans-serif;
            font-size: 1.1rem;    
        }
        a {
            font-size: .9rem;    
            color: $white;
            text-decoration: none;
        }
    }
}
