
  body {
    display: flex;
    flex-direction: column;
    /*height: 100%; /* Avoid the IE 10-11 `min-height` bug. */
    background: #E5E5E5;
  }
  

/*Botão Quero me cadastrar!*/
button {
  background: #4F90F1;
  width: 250px;
  height: 44px;
  border-radius: 48px;
}

button p {
  color: #FFFFFF;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 19px;

}


/*Cronometro*/
#clockdiv{
	font-family: sans-serif;
	color: #fff;
	display: inline-block;
	font-weight: 100;
	text-align: center;
	font-size: 30px;
}

#clockdiv > div{
	padding: 10px;
	border-radius: 3px;
	background: #373737;
	display: inline-block;
}

#clockdiv div > span{
	padding: 15px;
	border-radius: 3px;
	background: rgb(72, 75, 74);
	display: inline-block;
}

.smalltext{
	padding-top: 5px;
	font-size: 16px;
}
  /*Imagem Rodapé*/
  .row img {
    width: 13px;
    height: 13px;
    left: 500px;
    top: 940px;
    }

     .row {
      margin-bottom: 5px;
     
     }
     /*Partes Fixas*/
     [class*="col-"], /*header, footer, nav, aside, section, div*/[role="main"] {
      padding-top: 15px;
      padding-bottom: 15px;
      background-color: #f5f5f5;
      background-color: rgba(86,61,124,.15);
      border: 1px solid #ddd;
      border: 1px solid rgba(86,61,124,.2);
      text-align: center;
     }

     /*Meet Up*/
     [class*="col-"], h2 {
      position: absolute;
      width: 373px;
      height: 113px;
      left: 80px;
      top: 90px;
      font-size: 55px;
      color: #FFFFFF;

     }

    /*Programe-se!*/ /*Olhar de novo não está dando boa o código*/
    [class*="col-"], h1{
      right: 900px;
      top: 20px;

      font-family: Roboto;
      font-style: normal;
      font-weight: bold;
      font-size: 40px;
      line-height: 40px;
      text-align: right;
      margin-right: 45px;
      text-align: right;

      color: #FFFFFF;
     }

    /*Quadro branco*/
     [class*="col-"], ul{
      position: absolute;
      width: 850px;
      height: 300px;
      left: 50px;
      top: 280px;
      text-align: justify;

      background: #FFFFFF;   
      border-radius: 30px;                 
     }

     [class*="col-"], li {
      list-style: none;
      left: 228px;
      top: 1200px;
      

      font-family: Roboto Condensed;
      font-style: normal;
      font-weight: normal;
      font-size: 25px;
      line-height: 37px;

      color: rgba(0, 0, 0, 0.59);
     }

     .titulo {
      width: 660px;
      height: 50px;
      text-align: justify;
      
      font-family: Roboto Condensed;
      font-style: normal;
      font-weight: normal;
      font-size: 32px;
      line-height: 20px;
      
      color: #236CDB;
     }

     [class*="col-"], header {
       text-align: center;
       margin-top: -5px;

     }

     /*Meio*/
     div[role="main"] {
      background: #00B78C;
      width: 1200px;
      height: 600px;
     }

     /*Logo final
     .foot {
       width: 600px;
     }*/
    
    /*Do main.css*/

    p {
      font-family: 'Roboto', Tahoma, Geneva, Verdana, sans-serif;
      font-size: 35px;
      text-align: right;
      font-size: 30px;
      margin-right: 30px;
      top: 700px;
      left: 60px;
      color: #000000;
    }
    
    h4 {
      width: 35px;
      height: 60px;
      left: 900px;
      top: 593px;
    
      font-family: Roboto;
      font-style: normal;
      font-weight: bold;
      font-size: 48px;
      line-height: 60px;
      text-align: right;
      left: 700px;
      /* identical to box height */
    
      color: #000000;
    }
    
    .modal-container {
      width: 100vw;
      height: 100vh;
      background-color: rgba(0, 0, 0, 0.5);
      position: fixed;
      top: 0px;
      left: 0px;
      z-index: 2000;
      display: none;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
    }
    
    .mostrar {
      display: -webkit-box;
      display: -ms-flexbox;
      displa
      y: flex;
    }

    /*Colocar a foto do lado esquerdo*/
    #modal-promocao img {
      width: 500px;
      height: 500px;
      text-align: left;

      transform: matrix(-1, 0, 0, 1, 0, 0);
    }
    
    .modal {
      background-color: #236CDB;
      width: 60%;
      min-width: 300px;
      padding: 40px;
      border: 10px solid #236CDB;
      -webkit-box-shadow: 0 0 0 10px white;
              box-shadow: 0 0 0 10px white;
      position: relative;
    }
    
    @-webkit-keyframes modal {
      from {
        opacity: 0;
        -webkit-transform: translate3d(0, -60px, 0);
                transform: translate3d(0, -60px, 0);
      }
      to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0);
      }
    }
    
    @keyframes modal {
      from {
        opacity: 0;
        -webkit-transform: translate3d(0, -60px, 0);
                transform: translate3d(0, -60px, 0);
      }
      to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0);
      }
    }
    
    .mostrar .modal {
      -webkit-animation: modal .3s;
              animation: modal .3s;
    }
    
    .fechar {
      position: absolute;
      top: 0px;
      right: 0px;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      border: 4px solid #fff;
      background-color: #236CDB;
      color: #fff;
      font-family: 'Roboto', Tahoma, Geneva, Verdana, sans-serif;
      font-size: 1.2rem;
      cursor: pointer;
      -webkit-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.3);
              box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.3);
    }
    
    .subtitulo {
      font-family: 'Roboto', Tahoma, Geneva, Verdana, sans-serif;
      font-size: 1.2rem;
      color: #fff;
    }
    /*# sourceMappingURL=main.css.map */

